html{
    padding: none;
    margin: none;
}
.header{
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
}
.logo{
    width: 150px;
    height: 83px;
}
.nav-items > ul {
    display: flex;
    padding: 0px 20px;
    list-style: none;
    font-size: 24px;
}
.nav-items > ul > li {
    margin-right: 20px;
    height: 30px;
}

.res-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.res-card{
    padding: 5px 5px;
    width: 140px;
    height: 240px;
    background-color: #ffcccc;
    margin: 5px 2px;
}
.res-card:hover{
    border: solid 1px black;
    cursor: pointer;
}
.Search{
    padding: 10px;
}
.res-logo{
    width: 100%;
    height: 80px;
    border: solid 1px black;
}

.res-info{
    text-align: center;
}

h3{
    font-size: 1em;
    box-sizing: border-box; 
}

h4{
    font-size: 0.7em;
    color: rgb(36, 34, 34);
    box-sizing: border-box;
}

h5{
    font-size: 0.5em;
    color: rgb(127, 122, 122);
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}